.home(data-background="#C97164" data-color="#F9F1E7")
  .home__wrapper
    .home__gallery
      each rows in [0, 1]
        each media, index in home.data.gallery
          figure.home__gallery__media(class=`home__gallery__media--${index % 5 + 1}`)
            img.home__gallery__media__image(alt=media.image.alt data-src=media.image.url)